In [1]:

import pandas as pd

my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                           'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],

                'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                              'Ruchira Papers', 'Britianna', 'Persistent Systems', 'Bajaj Finance', 'DLF'],

                'MarketCap': ['Large Cap', 'Large Cap', 'Mid Cap', 'Mid Cap', 'Mid Cap',
                              'Small Cap', 'Mid Cap', 'Small Cap', 'Large Cap', 'Mid Cap'],

                'Share Price': [1120, 341, 610, 1123, 741, 185, 5351, 720, 1937, 217],

                'Amount Invested': [24000, 16000, 50000, 23000, 45000, 12000, 52000, 18000, 5000, 3500]}
df=pd.DataFrame(my_portfolio)
df

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

In [2]:
print(df.groupby('MarketCap').groups)

{'Large Cap': [0, 1, 8], 'Mid Cap': [2, 3, 4, 6, 9], 'Small Cap': [5, 7]}

In [3]:
print(df.groupby("Sector").groups)

{'FMCG': [1, 5, 6], 'Finance': [2, 8], 'IT': [0, 7], 'Pharma': [3, 4], 'Real Estate': [9]}

In [4]:
print(df.groupby(["MarketCap","Sector"]).groups)

{('Large Cap', 'FMCG'): [1], ('Large Cap', 'Finance'): [8], ('Large Cap', 'IT'): [0], ('Mid Cap', 'FMCG'): [6], ('Mid Cap', 'Finance'): [2], ('Mid Cap', 'Pharma'): [3, 4], ('Mid Cap', 'Real Estate'): [9], ('Small Cap', 'FMCG'): [5], ('Small Cap', 'IT'): [7]}

In [5]:
grouped=df.groupby("MarketCap")

for name,group in grouped:
    print(name)
    print(group)
    
print("\n")
print(grouped.get_group("Mid Cap"))

Large Cap
    Sector        Company  MarketCap  Share Price  Amount Invested
0       IT        Infosys  Large Cap         1120            24000
1     FMCG          Dabur  Large Cap          341            16000
8  Finance  Bajaj Finance  Large Cap         1937             5000
Mid Cap
        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500
Small Cap
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000


        Sector    Company MarketCap  Share Price  Amount Invested
2      Finance       DHFL   Mid Cap          610            50000
3       Pharma  Divis Lab   Mid Cap         1123            23000
4       Pharma      Lupin   Mid Cap          741            45000
6         FMCG  Britianna   Mid Cap         5351            52000
9  Real Estate        DLF   Mid Cap          217             3500

In [6]:
grouped2 = df.groupby("Sector")

for name, grop in grouped2:
    print(name)
    print(group)
    

print("\n")    
print(grouped2.get_group("Pharma"))

FMCG
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000
Finance
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000
IT
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000
Pharma
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000
Real Estate
  Sector             Company  MarketCap  Share Price  Amount Invested
5   FMCG      Ruchira Papers  Small Cap          185            12000
7     IT  Persistent Systems  Small Cap          720            18000


   Sector    Company MarketCap  Share Price  Amount Invested
3  Pharma  Divis Lab   Mid Cap         1123            23000
4  Pharma      Lupin   Mid Cap          741            45000

In [7]:
import numpy as np
my_portfolio = {'Sector': ['IT', 'FMCG', 'Finance', 'Pharma', 'Pharma',
                           'FMCG', 'FMCG', 'IT', 'Finance', 'Real Estate'],

                'Company':   ['Infosys', 'Dabur', 'DHFL', 'Divis Lab', 'Lupin',
                              'Ruchira Papers', 'Britianna', 'Persistent Systems', 'Bajaj Finance', 'DLF'],

                'MarketCap': ['Large Cap', 'Large Cap', 'Mid Cap', 'Mid Cap', 'Mid Cap',
                              'Small Cap', 'Mid Cap', 'Small Cap', 'Large Cap', 'Mid Cap'],

                'Share Price': [1120, 341, 610, 1123, 741, 185, 5351, 720, 1937, 217],

                'Amount Invested': [24000, 16000, 50000, 23000, 45000, 12000, 52000, 18000, 5000, 3500]}

df2=pd.DataFrame(my_portfolio)
print(df2)
print("\n \n")

grouped3=df2.groupby('MarketCap')
print(grouped3.groups)

print("\n")

print(grouped3["Amount Invested"].agg(np.mean))
print("\n")

print(grouped3.agg(np.size))
print("\n")

print(grouped3["Amount Invested"].agg([np.mean,np.sum]))

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500



{'Large Cap': [0, 1, 8], 'Mid Cap': [2, 3, 4, 6, 9], 'Small Cap': [5, 7]}


MarketCap
Large Cap    15000.0
Mid Cap      34700.0
Small Cap    15000.0
Name: Amount Invested, dtype: float64


           Sector  Company  Share Price  Amount Invested
MarketCap
Large Cap       3        3            3                3
Mid Cap         5        5            5                5
Small Cap       2        2            2                2


              mean     sum
MarketCap
Large Cap  15000.0   45000
Mid Cap    34700.0  173500
Small Cap  15000.0   30000

In [10]:
print(df2)
print("\n")
grouped3=df2.groupby("MarketCap")
def z_score(x) : return (x - x.mean()) / x.std()
print(grouped3.transform(z_score))

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500


   Share Price  Amount Invested
0    -0.015872         0.943456
1    -0.991970         0.104828
2    -0.471596         0.731522
3    -0.229280        -0.559399
4    -0.409718         0.492462
5    -0.707107        -0.707107
6     1.767825         0.827145
7     0.707107         0.707107
8     1.007841        -1.048285
9    -0.657231        -1.491731

C:\Users\Shafee Ahmed\AppData\Local\Temp\ipykernel_5628\3232077452.py:5: FutureWarning: Dropping invalid columns in DataFrameGroupBy.transform is deprecated. In a future version, a TypeError will be raised. Before calling .transform, select only columns which should be valid for the function.
  print(grouped3.transform(z_score))

In [12]:
df2

        Sector             Company  MarketCap  Share Price  Amount Invested
0           IT             Infosys  Large Cap         1120            24000
1         FMCG               Dabur  Large Cap          341            16000
2      Finance                DHFL    Mid Cap          610            50000
3       Pharma           Divis Lab    Mid Cap         1123            23000
4       Pharma               Lupin    Mid Cap          741            45000
5         FMCG      Ruchira Papers  Small Cap          185            12000
6         FMCG           Britianna    Mid Cap         5351            52000
7           IT  Persistent Systems  Small Cap          720            18000
8      Finance       Bajaj Finance  Large Cap         1937             5000
9  Real Estate                 DLF    Mid Cap          217             3500

In [14]:
df2.filter(["Company","Share Price","Amount Invested"])

              Company  Share Price  Amount Invested
0             Infosys         1120            24000
1               Dabur          341            16000
2                DHFL          610            50000
3           Divis Lab         1123            23000
4               Lupin          741            45000
5      Ruchira Papers          185            12000
6           Britianna         5351            52000
7  Persistent Systems          720            18000
8       Bajaj Finance         1937             5000
9                 DLF          217             3500

In [23]:
df2.groupby('MarketCap').filter(lambda a: len(a)>=3)

        Sector        Company  MarketCap  Share Price  Amount Invested
0           IT        Infosys  Large Cap         1120            24000
1         FMCG          Dabur  Large Cap          341            16000
2      Finance           DHFL    Mid Cap          610            50000
3       Pharma      Divis Lab    Mid Cap         1123            23000
4       Pharma          Lupin    Mid Cap          741            45000
6         FMCG      Britianna    Mid Cap         5351            52000
8      Finance  Bajaj Finance  Large Cap         1937             5000
9  Real Estate            DLF    Mid Cap          217             3500

In [31]:
left_df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'Company': ['Infosys', 'SBI', 'Asian Paints', 'Maruti', 'Sun Pharma'],
    'Sector': ['IT', 'Banks', 'Paints and Varnishes', 'Auto', 'Pharma']})

right_df = pd.DataFrame(
    {'id': [1, 2, 3, 4, 5],
     'Company': ['NTPC', 'TCS', 'Lupin', 'ICICI', 'M&M'],
     'Sector': ['Power', 'IT', 'Pharma', 'Banks', 'Auto']})


left_df

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma

In [33]:
right_df

   id Company  Sector
0   1    NTPC   Power
1   2     TCS      IT
2   3   Lupin  Pharma
3   4   ICICI   Banks
4   5     M&M    Auto

In [36]:
print(pd.merge(left_df,right_df, on ='id'))

   id     Company_x              Sector_x Company_y Sector_y
0   1       Infosys                    IT      NTPC    Power
1   2           SBI                 Banks       TCS       IT
2   3  Asian Paints  Paints and Varnishes     Lupin   Pharma
3   4        Maruti                  Auto     ICICI    Banks
4   5    Sun Pharma                Pharma       M&M     Auto

In [38]:
print(pd.merge(left_df,right_df, on ="Sector"))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [41]:
print(pd.merge(left_df,right_df,on="Sector",  how="inner"))

   id_x   Company_x  Sector  id_y Company_y
0     1     Infosys      IT     2       TCS
1     2         SBI   Banks     4     ICICI
2     4      Maruti    Auto     5       M&M
3     5  Sun Pharma  Pharma     3     Lupin

In [43]:
print(pd.concat([left_df,right_df]))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

In [50]:
print(pd.concat([left_df,right_df],keys=['x','y']))

     id       Company                Sector
x 0   1       Infosys                    IT
  1   2           SBI                 Banks
  2   3  Asian Paints  Paints and Varnishes
  3   4        Maruti                  Auto
  4   5    Sun Pharma                Pharma
y 0   1          NTPC                 Power
  1   2           TCS                    IT
  2   3         Lupin                Pharma
  3   4         ICICI                 Banks
  4   5           M&M                  Auto

In [52]:
print(pd.concat([left_df,right_df],ignore_index=True))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
5   1          NTPC                 Power
6   2           TCS                    IT
7   3         Lupin                Pharma
8   4         ICICI                 Banks
9   5           M&M                  Auto

In [54]:
print(pd.concat([left_df,right_df],axis=1))

   id       Company                Sector  id Company  Sector
0   1       Infosys                    IT   1    NTPC   Power
1   2           SBI                 Banks   2     TCS      IT
2   3  Asian Paints  Paints and Varnishes   3   Lupin  Pharma
3   4        Maruti                  Auto   4   ICICI   Banks
4   5    Sun Pharma                Pharma   5     M&M    Auto

In [55]:
print(left_df.append(right_df))

   id       Company                Sector
0   1       Infosys                    IT
1   2           SBI                 Banks
2   3  Asian Paints  Paints and Varnishes
3   4        Maruti                  Auto
4   5    Sun Pharma                Pharma
0   1          NTPC                 Power
1   2           TCS                    IT
2   3         Lupin                Pharma
3   4         ICICI                 Banks
4   5           M&M                  Auto

C:\Users\Shafee Ahmed\AppData\Local\Temp\ipykernel_5628\2051636441.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(left_df.append(right_df))